<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></p>

        <p><a href="https://store.steampowered.com/app/2201620/Adaptory/" class="steam-button">
            <img src="/assets/images/steam white@2x.png"> <span>Wishlist on <b>Steam</b></span>
          </a></p>

        <p>{{- site.description | escape -}}.</p>

        <p>
          Copyright &copy;
          <a href="{{ site.company.url | "/" }}">{{ site.company.name | default: site.title | escape }}</a> 2021 – {{ 'now' | date: "%Y" }}.
          <em>Adaptory&reg;</em> is a registered trademark of {{ site.company.name }}.
        </p>

        <ul class="mini-links">
          <li><a href="https://stormcloak.games/privacy">Privacy policy</a></li>
          <li><a href="/press">Press kit</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    </div>
  </div>

</footer>
