//$light-border: rgba(255, 255, 255, 0.5);

body.layout-blank {
  background: $brand-color-highlight;
  background: linear-gradient(54deg, $brand-color-highlight 0%, $brand-color 150%);
  background-image: url('/assets/images/dirt background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  line-height: 150%;
  font-size: 100%;

  @media screen and (max-width: $tablet) {
    font-size: 90%;
  }

  header.logo, main.page-content {
    width: 100%;
    margin: 0;
    margin-top: $spacing-unit * 0.667;
    padding: 0;
    text-align: center;
    background: none;

    // render the logo _above_ the box blurred gradient
    position: relative;
    z-index: 1;

    img {
      max-width: 450px;
      position: relative;
      top: 0px;
      transition: top 0.1s;

      @media screen and (max-width: $tablet) {
        max-width: 400px * ($tablet-scale * 1.25);
      }

      &:hover {
        top: -2px;
      }
    }

    figure.wide {
      max-width: 750px;
      @media screen and (max-width: (750px * 1.3)) {
        max-width: 100%;
      }

      img, iframe {
        max-width: 750px;
        @media screen and (max-width: (750px * 1.3)) {
          max-width: 100%;
        }
      }
    }

    figure {
      figcaption {
        font-size: $base-font-size;
        line-height: $base-font-size * 1.5;
        max-width: 80%;
        margin: 10px auto;
      }
    }
  }

  $home-page-width: 1200px;

  $article-feed-width: 70%;
  $article-spacing: $spacing-unit;

  div.wrap-content-and-feed {
    @include slight-border("top", transparentize($white, 0.5));

    > div.content {
      width: -webkit-calc(#{$article-feed-width} - (#{$article-spacing} / 2));
      width:         calc(#{$article-feed-width} - (#{$article-spacing} / 2));

      float: left;
      margin-right: $spacing-unit;

      @media screen and (max-width: $tablet) {
        width: 100%;
        margin-right: 0;
        float: none;

        > figure.video {
          margin-bottom: 0;
        }

        // add a border between page contents and tweet feed
        //@include slight-border("bottom");
      }
    }

    > div.feed {
      width: -webkit-calc(#{100% - $article-feed-width} - (#{$article-spacing} / 2));
      width:         calc(#{100% - $article-feed-width} - (#{$article-spacing} / 2));

      float: left;

      @media screen and (max-width: $tablet) {
        width: 100%;
        float: none;

        border-top: 0;

        // extra spacing so mobile users can easily scroll past it
        padding: $spacing-unit;
      }
    }

    &::after {
      content: '';
      clear: both;
      width: 5px;
      height: 5px;
      display: block;
    }
  }

  div.wrap-article {
    width: 100%;
    max-width: $home-page-width;
    margin: 0 auto;
    margin-top: $spacing-unit * 0.75;
    padding: 0 $spacing-unit;
    text-align: left;

    @media screen and (max-width: $tablet) {
      padding: 0 $spacing-unit * $tablet-scale;
    }
    @media screen and (max-width: $on-palm) {
      padding: 0 0;
    }

    article.post {
      position: relative; // become an anchor point for position: absolute below

      $nav-spacing-size: $spacing-unit * 0.5;
      $derounding: 0.5;
      $link-darken: 5%;

      nav.main {
        @include above-blurred-gradient-background;

        padding: 0;
        border: 0; // border: thin solid $light-border;
        margin-left: $spacing-unit;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        border-radius: ($nav-spacing-size * $derounding) ($nav-spacing-size * $derounding) 0 0;
        background: darken($brand-color, $link-darken);
        border: $component-border;
        border-bottom: 0;

        font-size: 100%;
        width: 75%;
        @media screen and (max-width: $tablet) {
          width: 65%;
          font-size: 90%;
        }
        @media screen and (max-width: $on-palm) {
          max-width: 100%;
          width: 95%;
          font-size: $base-font-size * 0.9;
          margin-left: $spacing-unit * 0.2;
          margin-right: $spacing-unit * 0.2;
        }

        $nav-links-count: 5;

        ul {
          margin: 0;

          li {
            margin: 0;
            display: inline-block;
            text-align: center;
            width: 100% / $nav-links-count;

            a {
              padding: ($nav-spacing-size - 4px) 0;
              @media screen and (max-width: $tablet) {
                padding: ($nav-spacing-size - 4px) * $tablet-scale 0;
              }

              display: inline-block;
              color: mix($default-link-color, $text-color);
              width: 100%;
              // so the background color change doesn't touch the 2px white border
              border-radius: ($nav-spacing-size * $derounding) ($nav-spacing-size * $derounding) 0 0;

              &:hover {
                background: lighten($brand-color, $link-darken);
                color: $text-color;
              }
            }

            + li {
              border-left: $component-border;
              //border-left: thin solid lighten($brand-color, $link-darken);
            }

            + li:before {
              display: none;
            }
          }
        }
      }

      nav.socials {
        @include above-blurred-gradient-background;

        position: absolute;
        right: $spacing-unit * 0.5;
        top: $spacing-unit * 0.33;
        @media screen and (max-width: $tablet) {
          top: $spacing-unit * 0.2;
        }

        text-align: right;
        line-height: $spacing-unit;

        @media screen and (max-width: $on-palm) {
          display: none;
        }


        ul {
          margin: 0;

          li {
            margin: 0;
            padding: 0 5px;

            @media screen and (max-width: $tablet) {
              padding: 0 3px;
            }

            a {
              span.username {
                display: none;
              }

              .svg-icon {
                $scale: 1.3;

                width: 16px * $scale;
                height: 16px * $scale;
                transform: scale($scale);

                &.reddit, &.steam, &.discord {
                  transform: scale(1.0);
                  position: relative;
                  top: -4px;
                  left: -4px;
                }

                @media screen and (max-width: $tablet) {
                  $smaller-scale: 0.8;

                  width: 16px * $scale * $smaller-scale;
                  height: 16px * $scale * $smaller-scale;
                  transform: scale($scale * $smaller-scale);

                  &.reddit, &.steam, &.discord {
                    transform: scale(1.0);
                    position: relative;
                    top: -1px;
                    left: -1px;
                  }
                }
              }
            }

            + li:before {
              display: none;
            }
          }
        }
      }

      div.post-content {
        margin: 0 auto;
        padding: $spacing-unit;
        border: $component-border;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        border-radius: $spacing-unit * $derounding;
        //background: transparentize($brand-color, 0.9);
        //background: transparentize($white, 0.9);
        background: $brand-color; // having a transparent background looks cool, but is very to scroll on Android
        max-width: $home-page-width;
        min-height: 600px;

        @media screen and (max-width: $on-palm) {
          padding: $spacing-unit * $tablet-scale;

          // take up the full width
          border-radius: 0;
          border-left: 0;
          border-right: 0;
        }

        p.call-to-action {
          text-align: center;
          margin-top: -$spacing-unit * 0.5;

          a {
            @include homepage-call-to-action-button();
          }

          a > svg.svg-icon {
            fill: $cta-text-color;
          }
        }
      }
    }
  }
}

body#page_index {
  figure.video {
    max-width: 100%;
    margin-top: 0;

    figcaption {
      max-width: 600px;
      margin: $spacing-unit auto 0;
      font-size: $base-font-size;
      line-height: 150%;
    }

    @include slight-border("bottom");
  }

  .itch-embed {
    h2 {
      font-size: $base-font-size * 1.25;
    }

    iframe {
      // allow the iframe to resize on mobile
      max-width: 100%;
    }

    @include slight-border("bottom");
    text-align: center;
    margin-bottom: $spacing-unit;
  }

}

body#page_index, body#page_media {
  h1, h2, h3, h4 {
    text-align: center;
  }

  h4 {
    margin-bottom: $spacing-unit * 0.2;
    color: transparentize($text-color, 0.25);
    font-style: italic;
    @include font-size(1.0);

    @media screen and (max-width: $on-palm) {
      &:last-child {
        padding-bottom: $spacing-unit * 0.2;
      }
    }
  }
}

body#page_media {
  figure + h1, figure + h2, figure + h3 {
    border-top: 1px solid lighten($brand-color, 10%);
    padding-top: $spacing-unit;
  }
}

// we use IDs because they're stronger selectors
body#page_feedback {
  .post-content-wrapper {
    max-width: 800px;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li + li {
      margin-top: $spacing-unit * 0.5;
    }
  }
}

body#page_roadmap {
  .post-content-wrapper {
    margin: 20px 40px;

    @media screen and (max-width: $on-palm) {
      margin: 5px 10px;
    }
  }
}
