---
layout: blank
---
<header class="logo">
  <a href="/"><img src="/assets/images/transparent adaptory logo@2x.png"></a>
</header>

<div class="wrap-article">
  <article class="post">
    {%- include nav.html -%}

    <div class="post-content">
      <div class="header">
        <h3><em>Adaptory</em> is an upcoming base-building survival game, combining multiple complex simulations with a story-rich world.</h3>

        <h3><em>Release date: 2023</em></h3>

        <p class="call-to-action">
          <a href="https://landing.mailerlite.com/webforms/landing/o2o8t5" class="button">Sign up for updates</a>
          <a href="https://patreon.com/jevon" class="button patreon"><svg class="svg-icon"><use xlink:href="/assets/patreon.svg#patreon"></use></svg> Support on Patreon</a>
        </p>
      </div>

      <div class="wrap-content-and-feed">
        <div class="content">
          {{ content }}
        </div>
        <div class="feed">
          <!-- MailerLite Universal -->
          <script>
          (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
          var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
          f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
          var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
          _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

          var ml_account = ml('accounts', '3560492', 'g7v9u8q1h0', 'load');
          </script>
          <!-- End MailerLite Universal -->

          <div class="ml-form-center">
            <div class="ml-form-embed"
              data-account="3560492:g7v9u8q1h0"
              data-form="5731196:f5f1r4">
            </div>
          </div>

          <a class="twitter-timeline" data-width="100%" data-height="800" data-dnt="true" data-theme="dark" href="https://twitter.com/StormcloakGames?ref_src=twsrc%5Etfw">Tweets by StormcloakGames</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>

    <div class="gradient-blur-wrapper"></div>
  </article>
</div>

{%- include footer.html -%}
