---
layout: blank
---
<header class="logo">
  <a href="/"><img src="/assets/images/transparent adaptory logo@2x.png"></a>
</header>

<div class="wrap-article">
  <article class="post">
    <nav class="main">
      <ul>
        <li><a href="/">Home</a></li><!--
        --><li><a href="/media">Media</a></li><!--
        --><li><a href="https://stormcloak.games/blog">Dev blog</a></li><!--
        --><li><a href="https://stormcloak.games/updates">Mailing list</a></li>
      </ul>
    </nav>

    <nav class="socials">
      <ul>
        {%- if site.subreddit -%}<li><a class="highlight-inline" href="https://reddit.com/r/{{ site.subreddit| cgi_escape | escape }}"><svg class="svg-icon reddit"><use xlink:href="{{ '/assets/reddit1.svg#reddit' | relative_url }}"></use></svg> <span class="username">{{ site.subreddit| escape }}</span></a></li>{%- endif -%}

        {%- if site.facebook_username -%}<li><a class="highlight-inline" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg> <span class="username">{{ site.facebook_username| escape }}</span></a></li>{%- endif -%}

        {%- if site.twitter_username -%}<li><a class="highlight-inline" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.twitter_username| escape }}</span></a></li>{%- endif -%}

        {%- if site.youtube_username -%}<li><a class="highlight-inline" href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg> <span class="username">{{ site.youtube_username| escape }}</span></a></li>{%- endif -%}
      </ul>
    </nav>

    <div class="post-content">
      {{ content }}
    </div>

  </article>
</div>

{%- include footer.html -%}
